{% extends "base.html" %}

{% block title %}
<title>Смена пароля</title>
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    {% include 'auth_nav.html' %}
</header>
<main class="main container">
    <div class="custom-center-block">
            <h1 class="custom-text-block"> Ваш пароль успешно изменен. </h1>
        <div class="custom-button-block">
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
{% endblock %}
