{% extends "base.html" %}

{% block title %}
<title> Сброс пароля </title>
{% endblock %}

{% block style %}
{% load static widget_tweaks %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    {% include 'anonymous_nav.html' %}
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <div class="form__group">
                <label for="id_newPassword" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    {{ form.new_password1|add_class:"form__input"|attr:"type:password"|attr:"name:new_password"|attr:"id:id_newPassword" }}
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    {% for error in form.new_password1.errors %}
                    <span class="form__error"> {{ error }} </span>
                    {% endfor %}
                </div>
            </div>
            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    {{ form.new_password2|add_class:"form__input"|attr:"type:password"|attr:"name:confirm_password"|attr:"id:id_confirmPassword" }}
                    {% for error in form.new_password2.errors %}
                    <span class="form__error"> {{ error }} </span>
                    {% endfor %}
                </div>
            </div>
                <div class="form__footer">
                    <button class="button button_style_blue" type="submit">Изменить пароль</button>
                </div>
        </form>
    </div>
</main>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
{% endblock %}
