{% extends "base.html" %}

{% block title %}
<title> {{ object.name }} </title>
{% endblock %}

{% block style %}
{% load static сustom_tags %}
<link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    {% include 'anonymous_nav.html' %}
</header>
<main class="main container">
    <div class="single-card" data-id="371">
        <img src="{{ object.image.url }}" alt="Картинка рецепта" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title"> {{ object.name }}</h1>

            </div>
            <ul class="single-card__items">
                {% if recipe.id|if_has_tag:1 %}
                <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                {% endif %}
                {% if recipe.id|if_has_tag:2 %}
                <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                {% endif %}
                {% if recipe.id|if_has_tag:3 %}
                <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endif %}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> {{ object.cooking_time }} </p>
                <p class="single-card__text"><span class="icon-user"></span> {{ object.author.first_name }} </p>
            </div>
            <ul class="single-card__items">
                <!-- <li class="single-card__item"><button class="button button_style_blue" name="purchpurchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></li> -->
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    {% for obj in object.get_amount.all %}
                    <p class="single-card__section-item">{{ obj.ingredient.name }} - {{ obj.amount }} {{ obj.ingredient.measurement }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">{{ object.description }}</p>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    {% include 'footer.html' %}
</footer>
{% endblock %}

{% block js %}
<script src="{% static 'js/components/Purchpurachases.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'singlePageNotAuth.js' %}"></script>
{% endblock %}
