{% extends "base.html" %}

{% block title %}
<title> Список покупок </title>
{% endblock %}

{% block style %}
{% load static сustom_tags %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block content %}
<header class="header">
    {% include 'auth_nav.html' %}
</header>
<main class="main container">
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for recipe in object_list %}
        <li class="shopping-list__item" data-id="{{ recipe.id }}">
            <div class="recipe recipe_reverse">
                <img src="{{ recipe.image.url }}" alt="Картинка рецепта" class="recipe__image recipe__image_big">
                <h3 class="recipe__title"> {{ recipe.name }} </h3>
                <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            </div>
            <a href="#" class="shopping-list__button link">Удалить</a>
        </li>
        {% endfor %}
    </ul>
    <a class="button button_style_light-blue" href="{% url 'get_shopping_list' %}">Скачать список</a>
</div>
</main>
<footer class="footer">
{% include 'footer.html' %}
</footer>
{% endblock %}

{% block js %}
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
